In [1]:
# Import Library

import pickle
import json
import pandas as pd
import numpy as np

In [2]:
# Load All Files

with open('model_LogReg.pkl', 'rb') as file_1:
  model_LogReg = pickle.load(file_1)

with open('model_scaler.pkl', 'rb') as file_2:
  model_scaler = pickle.load(file_2)

with open('model_OneHot_encoder.pkl','rb') as file_4:
  model_OneHot_encoder = pickle.load(file_4)

with open('list_num_cols.txt', 'r') as file_5:
  list_num_cols = json.load(file_5)

with open('list_cat_cols.txt', 'r') as file_6:
  list_cat_cols = json.load(file_6)

In [10]:
data_inf = {
    'age': 20, 
     'education_num': 10, 
     'capital_gain': 2000, 
     'capital_loss': 0, 
     'hours_per_week': 70, 
     'education': 'Secondary', 
     'marital_status': 'Married-civ-spouse', 
     'occupation': 'Sales', 
     'relationship': 'Husband', 
     'race': 'Other', 
     'sex': 'Male', 
     'native_country': 'Philippines',
     'workclass': 'Private'
     
    
}

data_inf = pd.DataFrame([data_inf])
data_inf

,age,education_num,capital_gain,capital_loss,hours_per_week,education,marital_status,occupation,relationship,race,sex,native_country,workclass
0,20,10,2000,0,70,Secondary,Married-civ-spouse,Sales,Husband,Other,Male,Philippines,Private

In [11]:
# Split between Numerical Columns and Categorical Columns

data_inf_num = data_inf[list_num_cols]
data_inf_cat = data_inf[list_cat_cols]

In [14]:
# Feature Scaling and Feature Encoding

data_inf_num_scaled = model_scaler.transform(data_inf_num)
data_inf_cat_encoded = model_OneHot_encoder.transform(data_inf_cat).toarray()
data_inf_final = np.concatenate([data_inf_num_scaled, data_inf_cat_encoded], axis=1)

In [15]:
# Predict using Linear Regression

y_pred_inf = model_LogReg.predict(data_inf_final)
y_pred_inf

array(['<=50K'], dtype=object)